@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="/Content/js/datepicker/WdatePicker.js"></script>
<script>
    $(function () {
        var date = new Date();
        $("#starttime").val(date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate());
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/EatManage/DataStatistics/GetGridDataStatisticsJson",
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true }, {
                    label: '部门', name: 'F_DepartmentId', align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                { label: '姓名', name: 'name', width: 120, align: 'left' },
                { label: '报餐情况', name: 'baocan', width: 80, align: 'left' },
                { label: '上班考勤', name: 'shangban', width: 80, align: 'left' },
                { label: '下班考勤', name: 'xiaban', width: 80, align: 'left' },
                { label: '早晨刷卡', name: 'zaocan', width: 80, align: 'left' },
                { label: '中餐刷卡', name: 'wucan', width: 80, align: 'left' },
                { label: '晚餐刷卡', name: 'wancan', width: 80, align: 'left' },
                 { label: '扣次数', name: 'cishu', width: 120, align: 'left' },
                  { label: '预计补助', name: 'yujibuzhu', width: 120, align: 'left' }
            ], pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), starttime: $("#starttime").val() },
            }).trigger('reloadGrid');
        });
    }




</script>
<div class="topPanel">
    <div class="search" style="width:600px;">
        <table>
            <tr>
                <td>
                    日期：
                </td>
                <td>
                    <div class="input-group">
                        <input id="starttime" type="text" placeholder="考勤日期"
                               class="form-control input-wdatepicker" onfocus="WdatePicker()" style="width: 100px;" />
                    </div>
                </td>
                <td>
                    关键字：
                </td>
                <td style="padding-left: 10px;">
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table><div id="gridPager"></div>
</div>

