<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings >
    <!--考勤机IP-->
    <add key="kaoqinip" value="192.168.10.241"/>
    <!--考勤机端口-->
    <add key="kaoqinport" value="8001"/>
    <!--消费机IP-->
    <add key="xiaofeiip" value="192.168.10.201"/>
    <!--拉取数据执行间隔 单位分钟-->
    <add key="timer" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="defCon"
      connectionString="server=.\SQL2005;database=NFineBase;uid=sa;pwd=sa123,.;Min Pool Size=20; Max Pool Size=200;Connection Timeout=30;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
